<div class="container">
  <h1>Welcome to Dummy Users!</h1>
  
  <form action="/login" method="post">
      <b>Email:</b></br>
      <input name="email" placeholder="type email"></br></br>
      <b>Password:</b></br>
      <input name="password_digest" placeholder="type password"></br></br>
      <input type="submit" value="Log In">
  </form>
  </br></br>
  Don't have an account? Please sign up:
  <form action="/user/register"  method="get">
    <input type="submit" value="Sign Up">
  </form>

</div>
