<div class="container">
  <h1>Welcome to your secret page!</h1>
    
        
    <b>First Name:</b> <%= @user.first_name %> </br></br>
    <b>Last Name:</b> <%= @user.last_name %> </br></br>
    <b>Email:</b> <%= @user.email %> </br></br>

    <a href="/logout">Log Out </a>

</div>
